// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #4ea6ca
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$twitter   = #1DA1F2;

@import url('https://fonts.googleapis.com/css?family=Boogaloo|Caveat|Chelsea+Market|Cookie|Flavors|Knewave|Love+Ya+Like+A+Sister|Luckiest+Guy|Merienda|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Kirang+Haerang|Oleo+Script:700');

// Linear gradient
linear_gradient(origin, colors...)
    
  fallback = colors[1][0]

  colors = join(', ', colors)
  colors = unquote(colors)

  background-color: fallback
  background-image: -webkit-linear-gradient(origin, colors) // Chrome, Safari
  background-image:    -moz-linear-gradient(origin, colors) // Firefox (3.6 - 15)
  background-image:     -ms-linear-gradient(origin, colors) // IE 10
  background-image:      -o-linear-gradient(origin, colors) // Opera (11.1 - 12.0) 
  background-image:         linear-gradient(origin, colors) // W3C

  $layout-footer-shadow = none

.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

.font-merienda {
    font-family: 'Merienda', cursive;
}

.font-cookie {
    font-family: 'Cookie', cursive;
}

.font-caveat {
    font-family: 'Caveat', cursive;
}

.font-montserrat, .font-text {
    font-family: 'Montserrat', sans-serif;
}
.font-love-ya-like-a-sister, .font-sentence, .font-logo {
    font-family: 'Love Ya Like A Sister', cursive;
}
